.chat-main
  .chat-main__header
    .chat-main__header-group-edit-btn
      = link_to edit_group_path(@group) do
        = button_tag "Edit"

    .chat-main__header-group-name
      = @group.name
    .chat-main__header-group-member
      Members:
      - @group.users.each do |member|
        %span= member.name

  .chat-main__body
    .chat-main__message
      - @messages.each do |message|
        %span.username
          = message.user.name
        %span.time
          = message.created_at
        .chat-main__message-body
          - if message.image?
            = image_tag message.image.to_s
          - else
            = message.body

  .chat-main__footer
    .chat-main__footer-body
      .form
        = form_for [@group, @message] do |f|
          .field
            = f.text_field :body, class: 'text', placeholder: 'type a message'
            = f.label :image do
              = fa_icon 'picture-o', style: 'cursor:pointer'
              = f.file_field :image, style: 'display:none;'
          = f.submit 'Send'
        /   %input.text{placeholder: "type a message"}
        /   %label{for: "file_image"}
        /     %i.fa.fa-picture-o{id: "file", style: "cursor:pointer"}
        /     %input{type: "file", id:"file_image", style: "display:none;"}
        /   %div.button
        /     = button_tag "Send"