.chat-main
  .chat-main__header
    .chat-main__header-group-edit-btn
      = link_to edit_group_path(@group) do
        = button_tag "Edit"

    .chat-main__header-group-name
      = @group.name
    .chat-main__header-group-member
      Members:
      - @members.each do |member|
        %span= member.name

  .chat-main__body
    .chat-main__message
      %span.username name
      %span.time 2017/12/26
      .chat-main__message-body text

  .chat-main__footer
    .chat-main__footer-body
      %form.form
        .field
          %input.text{placeholder: "type a message"}
          %label{for: "file_image"}
            %i.fa.fa-picture-o{id: "file", style: "cursor:pointer"}
            %input{type: "file", id:"file_image", style: "display:none;"}
        = button_tag "Send"